@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(36, 62, 99);
}

p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(124, 139, 161);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* UTILS */
.row {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--between {
  justify-content: space-between;
}

.container {
  padding-block: 96px;
}

.page-wrapper {
  overflow-x: hidden;
  padding: 32px;
}

.text--center {
  text-align: center;
}

.text--purple {
  color: rgb(100, 21, 255);
}

.leading--60 {
  line-height: 60px;
}

.leading--72 {
  line-height: 72px;
}

.leading--45 {
  line-height: 45px;
}

.not-clickable {
  cursor: not-allowed;
}

/* COMPONENTS */
.title {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.6px;
}

.para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 29.25px;
  max-width: 600px;
}

.para--center {
  margin-inline: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: none;
  padding: 12px 32px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.button--primary {
  background-color: rgb(100, 21, 255);
  color: rgb(237, 242, 247);
}
.button--primary:hover {
  background-color: rgb(80, 17, 204);
}

/* NAVIGATION */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(36, 62, 99);
  font-size: 24px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 0.3 ease;
}

.logo:hover {
  color: rgb(100, 21, 255);
}

.logo__img {
  width: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__items {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: rgb(36, 62, 99);
  font-weight: 600;
}

.nav__item {
  margin: 0 24px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav__item:hover {
  color: rgb(100, 21, 255);
  border-bottom-color: rgb(100, 21, 255);
}

.nav__item:nth-child(5) {
  margin-left: 48px;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* MOBILE NAV */
.nav--mobile {
  position: fixed;
  z-index: 10;
  inset: 0;
  height: fit-content;
  margin: 24px 16px 24px 16px;
  padding: 32px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  background-color: white;
}

.nav--hidden {
  display: none;
}

.nav__menu--mobile {
  display: none;
  position: relative;
  z-index: 15;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__items--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item--mobile {
  margin-block: 8px;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.45px;
}

.nav__button--mobile {
  margin-block: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.45px;
}

/* ANIMATIONS */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#hero.in-view {
  animation: slideInLeft 0.6s ease backwards;
}

#features.in-view {
  animation: slideInRight 0.6s ease backwards;
}

#quality-work.in-view {
  animation: slideInLeft 0.6s ease backwards;
}

#steps.in-view {
  animation: slideInRight 0.6s ease backwards;
}

#values.in-view {
  animation: slideInLeft 0.6s ease backwards;
}

#pricing.in-view {
  animation: slideInRight 0.6s ease backwards;
}

#testimonials.in-view {
  animation: slideInLeft 0.6s ease backwards;
}

#faq.in-view {
  animation: slideInRight 0.6s ease backwards;
}

#get-started.in-view {
  animation: slideInLeft 0.6s ease backwards;
}

#footer.in-view {
  animation: slideInRight 0.6s ease backwards;
}

/* HERO */
.hero__info {
  width: 41%;
}

.hero__figure {
  width: 59%;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: rgb(26, 32, 44);
}

.hero__para {
  font-size: 18px;
  font-weight: 400;
  margin-block: 32px;
  line-height: 27px;
  color: rgb(36, 62, 99);
}

.cta {
  position: relative;
  max-width: fit-content;
}

.cta__input {
  display: inline-block;
  width: 100%;
  padding: 20px 192px 20px 32px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: rgb(36, 62, 99);
  font-weight: 500;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(226, 232, 240);
  border-radius: 50px;
}

.cta__input::placeholder {
  opacity: 1;
  color: rgb(203, 213, 224);
}

.cta__input:hover {
  border-color: rgb(160, 174, 192);
}

.cta__input:focus {
  border-color: rgb(115, 59, 239);
}

.cta__button {
  position: absolute;
  width: 160px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 8px 8px 8px 0;
  padding-block: 16px;
  font-size: 16px;
  font-weight: 700;
}

.cta__button:hover {
  background-color: rgb(60, 13, 153);
  color: rgb(247, 250, 252);
}

.hero__trusted {
  margin-top: 80px;
}

.hero__trusted-para {
  color: rgb(160, 174, 192);
  font-size: 12px;
  font-weight: 700;
}

.hero__trusted-img {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 64px;
}

/* FEATURES */
.features {
  max-width: 1024px;
}

.features__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding-block: 32px;
  padding-inline: 28px;
  gap: 16px;
}

.service__icon {
  display: flex;
  align-self: flex-start;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  border-radius: 100%;
  padding: 20px;
}

.service__img {
  width: 24px;
  height: 24px;
}

.service__description {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.service__title {
  margin-bottom: 16px;
  color: rgb(36, 62, 99);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.service__para {
  color: rgb(124, 139, 161);
  line-height: 32px;
}

/* QUALITY WORK */
.quality-work,
.quality-work__figure {
  width: 50%;
}

.quality-work {
  margin-right: 32px;
}

.quality-work__button {
  margin-top: 32px;
  font-weight: 700;
  line-height: 21px;
}

.quality-work__figure {
  position: relative;
}

.quality-work__img {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 232, 240);
  border-radius: 4px;
}

.quality-work__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  width: 80px;
  height: 80px;
  transform: translate(50%, 50%);
  fill: rgb(100, 21, 255);
}

/* STEPS */
.steps__info,
.steps__figure {
  width: 50%;
}

.steps__figure {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.steps__container {
  flex-shrink: 1;
  padding-block: 32px;
  margin-left: 64px;
}

.steps__list {
  margin-top: 48px;
}

.steps__item {
  display: flex;
  margin-top: 32px;
}

.steps__info {
  margin-left: 24px;
}

.steps__number {
  width: 46px;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(203, 213, 224);
}

.steps__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.steps__para {
  margin-top: 12px;
  line-height: 28px;
}

.steps__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: -10;
  width: 160px;
  height: 160px;
  fill: rgb(100, 21, 255);
  opacity: 0.15;
}

/* VALUES */
.values__container,
.values__figure {
  width: 50%;
}

.values__figure {
  flex-shrink: 0;
}

.values__container {
  flex-shrink: 1;
  margin-right: 64px;
}

.values__items {
  display: flex;
  gap: 32px;
}

.values__item {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.values__item-header {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 24px;
}

.values__icon {
  display: flex;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
}

.values__icon--green {
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
}
.values__icon--red {
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
}

.values__icon-svg {
  width: 20px;
  height: 20px;
}

.values__item-title {
  margin-left: 12px;
  color: rgb(36, 62, 99);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.values__item-para {
  margin-top: 16px;
  font-weight: 400;
  line-height: 26px;
}

.values__button {
  margin-top: 48px;
  font-weight: 700;
}

/* PRICING */
.cards {
  margin-top: 64px;
}

.card {
  position: relative;
  overflow: hidden;
  width: calc(100% / 3);
  max-width: 384px;
  padding: 8px 32px 0 32px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --card-text: rgb(26, 32, 44);
  --card-text-light: rgb(113, 128, 150);
  --card-text-sub: rgb(160, 174, 192);
  --card-divider: rgb(226, 232, 240);
}
.card.card--green {
  --card-gradient: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  --card-cta-text: rgb(237, 242, 247);
  --card-cta-bg: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.card.card--purple {
  background-color: rgb(100, 21, 255);
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: rgb(247, 250, 252);
  --card-text: rgb(247, 250, 252);
  --card-text-light: rgb(247, 250, 252);
  --card-text-sub: rgb(247, 250, 252);
  --card-divider: rgb(102, 126, 234);
  --card-cta-text: rgb(71, 15, 181);
  --card-cta-bg: rgb(247, 250, 252);
}
.card.card--red {
  --card-gradient: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  --card-cta-text: rgb(238, 243, 247);
  --card-cta-bg: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.card::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  background-image: var(--card-gradient);
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: var(--card-text);
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32.5px;
}

.card__price {
  font-size: 48px;
  font-weight: 700;
  line-height: 78px;
}

.card__duration {
  color: var(--card-text-sub);
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 26px;
}

.card__features-wrapper {
  margin-inline: -32px;
  padding: 32px;
  border-top: solid 2px var(--card-divider);
  border-bottom: solid 2px var(--card-divider);
  color: var(--card-text-light);
}

.card__features-title {
  color: var(--card-text);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.card__feature {
  margin-top: 20px;
  line-height: 24px;
}

.card__cta {
  display: flex;
  justify-content: center;
  padding: 32px 64px;
}

.card__button {
  width: 100%;
  padding: 16px 32px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: var(--card-cta-text);
  background-image: var(--card-cta-bg);
}

.card__button:hover {
  transform: translate(1px, -1px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* TESTIMONIALS */
.testimonials__figure,
.testimonials__container {
  width: 50%;
}

.testimonials__container {
  padding-left: 64px;
}

.review {
  margin-top: 40px;
}

.review__title {
  margin-top: 16px;
  color: rgb(36, 62, 99);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.review__quote {
  margin-top: 16px;
  margin-bottom: 40px;
  color: rgb(74, 85, 104);
  font-weight: 500;
  line-height: 26px;
}

.stars {
  display: flex;
  fill: rgb(246, 173, 85);
  gap: 4px;
}

.star {
  width: 20px;
}

.review__user-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review__avatar {
  display: flex;
  width: 80px;
  overflow: hidden;
  border-radius: 100%;
}

.review__user-name {
  font-size: 20px;
}

.review__user-title {
  line-height: 24px;
}

.review__next-btn,
.review__prev-btn {
  display: flex;
  margin-inline: 12px;
  padding: 16px;
  color: rgb(100, 21, 255);
  background-color: rgb(237, 242, 247);
  border: none;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.review__next-btn:hover,
.review__prev-btn:hover {
  background-color: rgb(226, 232, 240);
}

.review__next-btn svg,
.review__prev-btn svg {
  width: 16px;
  height: 16px;
}

.review__nav-spacer {
  height: 24px;
  margin-block: 12px;
  border-right: 1px solid rgb(226, 232, 240);
  line-height: 24px;
}

/* FAQS */
.faqs__container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  max-width: 896px;
  margin-inline: auto;
}

.faq {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 16px 40px;
  background-color: rgb(237, 242, 247);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq:hover {
  background-color: rgb(226, 232, 240);
}

.faq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
}

.faq__title {
  color: rgb(45, 55, 72);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.faq__answer {
  margin-top: 16px;
  height: 100%;
  opacity: 1;
  color: rgb(45, 55, 72);
  font-weight: 400;
  line-height: 26px;
}

.faq__answer.hidden {
  visibility: hidden;
  margin-top: 0;
  height: 0;
  opacity: 0;
}

/* GET STARTED */
.get-started {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  margin-bottom: 96px;
  padding-block: 96px;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
}

.get-started__content {
  display: flex;
  padding-inline: 32px;
  margin-inline: auto;
  width: fit-content;
}

.get-started__title,
.get-started__cta {
  width: 50%;
}

.get-started__title {
  max-width: 512px;
  color: rgb(247, 250, 252);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.get-started__cta {
  justify-content: right;
}

.get-started__button {
  color: rgb(247, 250, 252);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 40px;
  transition: all 0.3s ease;
}

.get-started__button--primary {
  margin-right: 32px;
  background-color: rgb(245, 101, 101);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.get-started__button--primary:hover {
  background-color: rgb(229, 62, 62);
  color: rgb(237, 242, 247);
}

.get-started__button--secondary {
  background-color: transparent;
  border: 1px solid rgb(160, 174, 192);
}
.get-started__button--secondary:hover {
  background-color: rgb(247, 250, 252);
  color: rgb(100, 21, 255);
}

.get-started__decor-1 {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  height: 320px;
  width: 320px;
  color: rgb(80, 17, 204);
  transform: translate(-20%, 40%);
  opacity: 0.5;
}

.get-started__decor-2 {
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  height: 320px;
  width: 320px;
  color: rgb(80, 17, 204);
  transform: translate(20%, -80%);
  opacity: 0.5;
}

/* FOOTER */
.footer {
  position: relative;
  overflow: hidden;
  background-color: rgb(100, 21, 255);
  margin: 0 -32px -32px -32px;
  padding-inline: 32px;
  color: rgb(247, 250, 252);
  isolation: isolate;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.link__title {
  color: rgb(247, 250, 252);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.link__list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
}

.link__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.link__item a {
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.link__item:hover a {
  border-bottom-color: rgb(247, 250, 252);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__divider {
  width: 100%;
  margin-block: 64px;
  border-bottom: 2px solid rgb(116, 44, 255);
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 1px;
}

.footer__copyright {
  color: rgb(203, 213, 224);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer__logo-img {
  width: 32px;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.footer__social {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgb(247, 250, 252);
  fill: rgb(26, 32, 44);
  border-radius: 100%;
  transition: all 0.3s ease;
}
.footer__social:hover {
  background-color: rgb(203, 213, 224);
}

.footer__social-svg {
  width: 16px;
  height: 16px;
}

.footer__decor-1,
.footer__decor-2 {
  position: absolute;
  z-index: -1;
  height: 320px;
  width: 320px;
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

.footer__decor-1 {
  top: 0;
  left: 0;
  transform: translate(-30%, -40%);
}

.footer__decor-2 {
  bottom: 0;
  right: 0;
  transform: translate(40%, 60%);
}

@media screen and (max-width: 1280px) {
  /* HERO */
  .hero__title {
    font-size: 36px;
    line-height: 45px;
  }

  .hero__para {
    font-size: 16px;
    line-height: 24px;
  }

  .hero__figure {
    max-width: 512px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 36px;
    line-height: 45px;
  }

  .para {
    font-size: 16px;
  }

  /* NAVIGATION */
  .nav {
    display: none;
  }

  .nav__menu--mobile {
    display: block;
  }

  .logo {
    margin-block: 8px;
    padding-bottom: 4px;
    line-height: 36px;
  }

  /* HERO */
  .hero {
    flex-direction: column;
  }

  .hero__info,
  .hero__figure {
    width: 55%;
  }

  .hero__info {
    text-align: center;
  }

  .hero__title {
    font-size: 30px;
    line-height: 37.5px;
  }

  .hero__para {
    margin-block: 20px;
  }

  .cta {
    margin-inline: auto;
  }

  .hero__trusted {
    margin-top: 48px;
  }

  .hero__trusted-img {
    padding: 0;
  }

  .hero__figure {
    margin-top: 48px;
  }

  /* FEATURES */
  .features .title {
    font-size: 48px;
    line-height: 72px;
  }

  .services {
    padding-inline: 96px;
  }

  .service {
    width: calc(100% / 2);
  }

  /* QUALITY WORK */
  .quality-work {
    margin-right: 48px;
  }

  /* STEPS */
  .steps__decor {
    width: 80px;
  }

  .steps__info {
    width: 80%;
  }

  .steps__para {
    font-size: 14px;
  }

  /* VALUES */
  .values .para {
    margin-top: 32px;
  }

  .values__items {
    max-width: 320px;
    flex-direction: column;
  }

  .values__item {
    margin-right: 32px;
  }

  /* PRICING */
  .pricing .title {
    font-size: 48px;
    line-height: 72px;
  }

  .cards {
    margin-top: 0;
    flex-direction: column;
  }

  .card {
    margin-top: 64px;
    width: 100%;
    max-width: 384px;
  }

  .card__cta {
    padding-inline: 32px;
  }

  /* TESTIMONIALS */
  .testimonials__container {
    width: 58%;
    padding-left: 48px;
  }

  .testimonials__figure {
    width: 42%;
  }

  /* FAQS */
  .faq__text .title {
    font-size: 48px;
    line-height: 72px;
  }

  /* GET STARTED */
  .get-started {
    padding-block: 80px;
  }

  .get-started__content {
    width: 100%;
    margin-inline: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .get-started__cta {
    margin-top: 24px;
    justify-content: center;
  }

  /* FOOTER */
  .footer .container {
    padding-block: 80px;
  }
}

@media screen and (max-width: 768px) {
  /* HERO */
  .hero__info,
  .hero__figure {
    width: 100%;
    max-width: 512px;
  }

  .hero__trusted-para {
    font-size: 14px;
  }

  /* FEATURES */
  .services {
    justify-content: center;
  }

  .service {
    width: 100%;
    max-width: 384px;
  }

  /* QUALITY WORK */
  .quality-work__container {
    flex-flow: column-reverse;
  }

  .quality-work,
  .quality-work__figure {
    width: 100%;
    max-width: 448px;
  }

  .quality-work {
    margin-top: 64px;
    margin-right: 0;
    text-align: center;
  }

  .quality-work .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  .quality-work__button {
    margin-inline: auto;
  }

  /* STEPS */
  .steps {
    flex-direction: column;
  }

  .steps__container,
  .steps__figure {
    width: 100%;
    max-width: 448px;
  }

  .steps__container {
    margin-top: 64px;
    margin-left: 0;
    text-align: center;
  }

  .steps__item {
    flex-direction: column;
    align-items: center;
  }

  .steps__info {
    margin-top: 12px;
    margin-left: 0;
  }

  /* VALUES */
  .values {
    flex-flow: column-reverse;
  }

  .values__container,
  .values__figure {
    width: 100%;
    max-width: 448px;
  }

  .values__container {
    margin-top: 64px;
    margin-right: 0;
    text-align: center;
  }

  .values .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  .values__items {
    margin-inline: auto;
  }

  .values__item {
    margin-right: 0;
    align-items: center;
  }

  .values__button {
    margin-inline: auto;
  }

  /* PRICING */
  .pricing .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  /* TESTIMONIALS */
  .testimonials {
    flex-direction: column;
  }

  .testimonials__container,
  .testimonials__figure {
    width: 100%;
    max-width: 448px;
  }

  .testimonials__container {
    margin-top: 64px;
    padding-left: 0;
    text-align: center;
  }

  .testimonials .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  .stars {
    justify-content: center;
  }

  /* FAQS */
  .faq__text .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  /* GET STARTED */
  .get-started__title,
  .get-started__cta {
    width: 100%;
  }

  /* FOOTER */
  .links {
    justify-content: left;
    row-gap: 48px;
  }

  .link {
    width: calc(100% / 3);
  }

  .footer__info {
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 30px;
    line-height: 37.5px;
  }

  .para {
    font-size: 14px;
    line-height: 22.75px;
  }

  /* HERO */
  .cta__input {
    padding-block: 16px;
  }

  .cta__button {
    position: static;
    width: 100%;
    margin-right: 0;
    margin-block: 16px;
  }

  /* FEATURES */
  .features .title {
    font-size: 36px;
    line-height: 54px;
  }

  .services {
    padding: 0;
  }

  .service {
    flex-direction: column;
    text-align: center;
  }

  .service__icon {
    align-self: center;
  }

  /* STEPS */
  .steps__para {
    width: 100%;
    max-width: 320px;
    margin-inline: auto;
  }

  /* PRICING */
  .pricing .title {
    font-size: 36px;
    list-style: 54px;
  }

  /* TESTIMONIALS */
  .review__footer {
    flex-direction: column;
  }

  .review__user-wrapper {
    flex-direction: column;
  }

  .review__avatar {
    width: 64px;
    height: 64px;
  }

  .review__nav {
    margin-top: 32px;
  }

  /* FAQS */
  .faq__text .title {
    font-size: 36px;
    line-height: 54px;
  }

  .faq__answer {
    font-size: 14px;
  }

  /* GET STARTED */
  .get-started__title {
    font-size: 24px;
    line-height: 36px;
  }

  .get-started__cta {
    flex-direction: column;
  }

  .get-started__button--primary,
  .get-started__button--secondary {
    padding: 12px 24px;
  }

  .get-started__button--primary {
    margin-right: 0;
  }

  .get-started__button--secondary {
    margin-top: 16px;
  }

  /* FOOTER */
  .links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .link {
    width: fit-content;
    padding-inline: 16px;
    text-align: center;
  }
}
